#!/usr/bin/env bash

export DOCKER_TAG="angler98/sensormockery:latest"
export CONTAINER_PORT="8080"
export HOST_PORT="8080"
export DB_NAME="sensormockery"
export DB_DOMAIN="localhost"
export DB_PORT="5432"
